@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
  margin: 0;
  box-sizing: content-box;
  background-color: #282c34;
}

body{
  font-family: 'Itim', 'cursive'; 
  color: white;
}

